$color-white: white;

.App {
  height: 100vh;

  overflow: scroll;
  min-height: 1000px;
  margin: 0;
  padding: 0;
  position: relative;
  transition: background 2s ease-in-out;
  &.uploaded {
    min-height: 100vh;
    height: 1000px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(152.96deg, #d384fd -1.03%, #8567f7 81.68%);
      opacity: 0;
      transition: opacity 0.5s linear;
    }
    background: linear-gradient(152.96deg, #d384fd -1.03%, #8567f7 81.68%);

    .app-container__left--card {
      opacity: 0;

      h1 {
        transition: all 0.25s ease-in-out;
      }

      p {
        transition: all 0.25s ease-in-out;
      }
    }
    .app-container {
      &__left {
        background: initial;
      }
      &__right {
        position: initial;
        transition: all 0.5s ease-in-out;

        &:where(.css-dev-only-do-not-override-mxhywb).ant-col {
          position: initial;
        }

        .upload-content__results {
          padding: 12px 18px;
          display: flex;
          opacity: 1;
          transform: translateX(-1%);
          height: auto;

          &--main-img {
            background: $color-white;
            width: 384px;
          }
        }

        .app-container__right--card {
          padding: 139px 64px;
          &-title h2 {
            color: $color-white;
            left: 50%;
            transform: translateX(-50%);
            transition: all 0.5s ease-in-out;
            white-space: nowrap;
            margin-bottom: 100px;
            position: absolute;
            span label {
              position: absolute;
              top: -20px;
            }
          }
        }
      }
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    // background: linear-gradient(152deg, #d384fd -1.03%, #8567f7 48.97%);
    opacity: 0;
    transition: opacity 0.5s linear;
  }
  form {
    height: inherit;
  }

  &.uploaded::before {
    opacity: 1;
  }
  .app-container {
    height: inherit;
    // height: 100vh;
    &__left {
      // background: linear-gradient(152.96deg, #d384fd -1.03%, #8567f7 81.68%);

      background: linear-gradient(152deg, #d384fd -1.03%, #8567f7 48.97%);

      // position: relative;
      height: 1000px;
      // height: inherit;

      &--card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: inherit;
        > div {
          padding: 50px;
        }
        &__logo {
          padding-bottom: 60px;
        }

        &__img {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
        p {
          color: $color-white;
          font-style: normal;
          font-weight: 400;
          font-size: 1.8rem;
          line-height: 150%;
          text-align: center;
          padding-bottom: 120px;
        }
      }
    }

    &__right {
      transition: all 0.5s ease-in-out;

      &:where(.css-dev-only-do-not-override-mxhywb).ant-col {
        position: relative;
      }

      &.uploaded {
        position: initial;
        transition: all 0.5s ease-in-out;

        .upload-content__results {
          display: flex;
          opacity: 1;
          transform: translateX(-1%);
          height: auto;

          &--main-img {
            background: $color-white;
            width: 384px;
          }
        }

        .app-container__right--card {
          padding: 139px 64px;
          &-title h2 {
            color: $color-white;
            left: 50%;
            transform: translateX(-50%);
            transition: all 0.5s ease-in-out;
            white-space: nowrap;
            margin-bottom: 100px;
            position: absolute;
            span label {
              position: absolute;
              top: -20px;
            }
          }
        }
      }

      .upload-content__results {
        background: $color-white;
        padding: 24px 36px;
        position: absolute;
        top: 23%;
        right: 5%;

        width: 100%;
        max-width: 600px;
        opacity: 0;
        border-radius: 16px;
      }

      &--card {
        padding: 139px 64px;
        &-title h2 {
          transition: all 0.5s ease-in-out;
          text-align: center;
          width: 100%;
          max-width: 500px;
          white-space: nowrap;
          margin-bottom: 100px;
          position: absolute;
          span label {
            position: absolute;
            top: -20px;
          }
        }
      }
    }
  }

  .upload-content {
    position: absolute;
    width: 100%;
    max-width: 500px;
    top: 23%;
    z-index: 3;
    padding-bottom: 24px;

    background: $color-white;
    box-shadow: 0px 4px 18px rgba(80, 97, 146, 0.09);
    border-radius: 16px;

    padding: 36px 24px;
    transition: all 0.5s ease-in-out;

    .ant-upload-wrapper {
      & .ant-upload.ant-upload-drag {
        height: 250px;
      }
      &.current-image-uploaded > .ant-upload.ant-upload-drag {
        height: auto;
      }
    }
    .current-image-uploaded {
    }

    &.show-image {
      top: 23%;
      transform: translate(-130%);
    }
    p {
      display: none;
    }
  }

  .btn-group {
    display: flex;
    justify-content: flex-end;
    button {
      margin-top: 2.4rem;
      margin-right: 1rem;
      height: 4.4rem;
      font-weight: 600;
      font-size: 1.6rem;
      border-radius: 0.8rem;
      width: 100%;
    }

    .btn-clear {
      max-width: 7.2rem;
      background: black;
    }

    .btn-submit {
      max-width: 12.6rem;
      background: #ba92d9;
      color: $color-white;
    }
  }

  h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 40px;
    text-align: center;
    color: #404040;
    padding-bottom: 36px;
  }

  .report {
    text-decoration: underline;
  }

  .default-upload {
    // max-height: 384px;
    &__wrapper {
      padding: 64px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img {
        padding-bottom: 2.1rem;
      }
      // p {
      //   display: none;
      // }
    }

    p {
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 20px;

      text-align: center;

      color: #9b9b9b;
    }
  }

  h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 150%;
    color: #404040;
  }

  h2 {
    font-weight: 600;
    font-size: 2.9rem;
    line-height: 35px;
    padding-bottom: 8px;
    text-align: center;
  }

  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 4.6rem;
    line-height: 150%;

    text-align: center;

    color: $color-white;
  }

  .upload-content__show-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex {
    display: flex;
  }

  .flex-column {
    flex-direction: column;
  }

  .justify-center {
    justify-content: center;
  }
  .justify-space-between {
    justify-content: space-between;
  }

  .items-center {
    align-items: center;
  }

  .relative {
    position: relative;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  @keyframes invisibled {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }

  .bg-white {
    background-color: $color-white;
  }

  .w-full {
    width: 100%;
  }

  .image-selected {
    border: 1px solid #ba92d9;
  }
}

.btn-disabled {
  cursor: initial;
  opacity: 0.5;
}

.pt-3 {
  padding-bottom: 12px;
}

.background-image {
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  background-position: center center;
  height: 350px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .example {
    background: red;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  // .example {
  //   background: green;
  // }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  // .example {
  //   background: blue;
  // }
}

@media only screen and (max-width: 1200px) and (max-height: 569px) and (-webkit-min-device-pixel-ratio: 2) {
  /* your CSS styles here */
  .App {
    &.uploaded {
      .app-container__right .upload-content__results {
        top: 130% !important;
      }
    }

    .app-container__right .upload-content__results {
      top: 130%;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  // .example {
  //   background: orange;
  // }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  // .example {
  //   background: pink;
  // }

  html {
    font-size: 50%;
  }

  body {
    margin: 0;
    overflow-y: scroll;
  }

  .App {
    height: 100vh;
    padding-left: 15px;
    padding-right: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
    &.uploaded {
      height: 100vh;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(152.96deg, #d384fd -1.03%, #8567f7 81.68%);
        opacity: 0;
        transition: opacity 0.5s linear;
      }
      .upload-content {
        top: 27%;
        transform: translateX(-50%);
        p {
          display: none;
        }
        > div {
          height: 72%;
        }
      }
      .app-container__right {
        height: 200%;
        background: none;
        padding: 30px 30px !important;

        &:where(.css-dev-only-do-not-override-mxhywb).ant-col {
          position: initial;
        }
        .app-container__right--card-title h2 {
          top: 15%;

          span label {
            right: 30px;
            top: 5px;
            right: 2.5rem;
          }
        }
        .upload-content__results {
          padding: 12px 18px;

          display: flex;
          padding-left: 0;
          padding-right: 0;
          width: 92%;
          max-width: initial;
          top: 100%;
          left: 50%;
          opacity: 1;
          transition: all 0.25s ease-in-out;
          transform: translateX(-50%);
        }
      }
    }

    .default-upload__wrapper {
      padding: initial;
      img {
        width: 2.3rem;
      }
      h2 {
        font-size: 2.4rem;
      }
    }
    .app-container__left {
      display: none;
    }

    .app-container__right {
      background: linear-gradient(152.96deg, #d384fd -1.03%, #8567f7 81.68%);
      // :where(.css-dev-only-do-not-override-mxhywb).ant-col {
      // height: 100%;
      min-height: 1000px;
      //   margin-bottom: 30px;
      // }
      &--card {
        padding: 70px 32px;
        &-title {
          h2 {
            color: white;
            position: relative;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            align-items: center;
            span label {
              top: 5px;
              right: -1.5rem;
            }
          }
        }
      }
      .upload-content__results {
        padding: 12px 18px;

        display: none;
        opacity: 1;
        top: 100%;
        transform: translateX(-1%);
      }
    }
    .upload-content {
      // min-height: 44.6rem;

      padding: 1.8rem 1.2rem;
      width: 90%;
      max-width: initial;
      top: 20%;
      left: 50%;
      transform: translateX(-50%);
      p {
        display: block;
        position: absolute;
        bottom: -70px;
        color: white;
        text-align: center;
      }

      > div {
        height: auto;
        // height: calc(44.6rem * 70 / 100);
      }
    }
  }
}

@media only screen and (max-width: 1200px) and (max-height: 667px) and (max-height: 769px) and (-webkit-min-device-pixel-ratio: 2) {
  /* your CSS styles here */
  .App {
    &.uploaded {
      .app-container__right {
        & div.upload-content__results {
          top: 120%;
        }
      }
    }

    .app-container__right .upload-content__results {
      top: 130%;
    }
  }
  // .App {
  //   .upload-content__results {
  //     top: 110%;
  //   }
  // }
}

@media only screen and (max-width: 1200px) and (max-height: 769px) and (-webkit-min-device-pixel-ratio: 2) {
  /* your CSS styles here */
  .App {
    &.uploaded {
      .app-container__right {
        & .upload-content__results {
          top: 110%;
        }
      }
    }

    .app-container__right .upload-content__results {
      top: 130%;
    }
  }
}

#asd {
  position: relative;
  width: 100%;
  border-bottom: 2px solid #adadad;
  padding: 5px 0;
  &::after {
    position: absolute;
    content: "";

    bottom: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(
      90deg,
      rgba(116, 58, 180, 1) 0%,
      rgba(253, 29, 225, 1) 68%,
      rgba(252, 176, 69, 1) 100%
    );
  }
}
