$color-white: white;

.App {
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  transition: all 2s ease-in-out;
  &.uploaded {
    background: linear-gradient(90deg, #d384fd -1.03%, #8567f7 48.97%);

    .app-container__left--card {
      opacity: 0;

      h1 {
        transition: all 0.25s ease-in-out;
      }

      p {
        transition: all 0.25s ease-in-out;
      }
    }

    .app-container__right {
      position: initial;
      transition: all 0.5s ease-in-out;

      &:where(.css-dev-only-do-not-override-mxhywb).ant-col {
        position: initial;
      }

      .upload-content__results {
        display: flex;
        opacity: 1;
        transform: translateX(-1%);
        height: 590px;

        &--main-img {
          background: $color-white;
          width: 384px;
        }
      }

      .app-container__right--card {
        padding: 139px 64px;
        &-title h2 {
          color: $color-white;
          left: 50%;
          transform: translateX(-50%);
          transition: all 0.5s ease-in-out;
          white-space: nowrap;
          margin-bottom: 100px;
          position: absolute;
          span img {
            position: absolute;
            top: -20px;
          }
        }
      }
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, #d384fd -1.03%, #8567f7 48.97%);
    opacity: 0;
    transition: opacity 0.5s linear;
  }
  form {
    height: inherit;
  }

  &.uploaded::before {
    opacity: 1;
  }
  .app-container {
    height: inherit;
    // height: 100vh;
    &__left {
      background: linear-gradient(90deg, #d384fd -1.03%, #8567f7 48.97%);

      position: relative;
      height: inherit;

      &--card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: inherit;
        > div {
          padding: 50px;
        }
        &__logo {
          padding-bottom: 60px;
        }

        &__img {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
        p {
          color: $color-white;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 150%;
          text-align: center;
          padding-bottom: 120px;
        }
      }
    }

    &__right {
      transition: all 0.5s ease-in-out;

      &:where(.css-dev-only-do-not-override-mxhywb).ant-col {
        position: relative;
      }

      &.uploaded {
        position: initial;
        transition: all 0.5s ease-in-out;

        .upload-content__results {
          display: flex;
          opacity: 1;
          transform: translateX(-1%);
          height: 590px;

          &--main-img {
            background: $color-white;
            width: 384px;
          }
        }

        .app-container__right--card {
          padding: 139px 64px;
          &-title h2 {
            color: $color-white;
            left: 50%;
            transform: translateX(-50%);
            transition: all 0.5s ease-in-out;
            white-space: nowrap;
            margin-bottom: 100px;
            position: absolute;
            span img {
              position: absolute;
              top: -20px;
            }
          }
        }
      }

      .upload-content__results {
        background: $color-white;
        padding: 24px 36px;
        position: absolute;
        top: 23%;
        width: 100%;
        max-width: 600px;
        opacity: 0;
        border-radius: 16px;
      }

      &--card {
        padding: 139px 64px;
        &-title h2 {
          transition: all 0.5s ease-in-out;
          text-align: center;
          width: 100%;
          max-width: 500px;
          white-space: nowrap;
          margin-bottom: 100px;
          position: absolute;
          span img {
            position: absolute;
            top: -20px;
          }
        }
      }
    }
  }

  .upload-content {
    position: absolute;
    width: 100%;
    max-width: 500px;
    top: 23%;
    z-index: 3;
    padding-bottom: 24px;

    background: $color-white;
    box-shadow: 0px 4px 18px rgba(80, 97, 146, 0.09);
    border-radius: 16px;

    padding: 36px 24px;
    transition: all 0.5s ease-in-out;

    &.show-image {
      top: 23%;
      transform: translate(-130%);
    }
  }

  .btn-group {
    display: flex;
    justify-content: flex-end;
    button {
      margin-top: 24px;
      margin-right: 1rem;
      height: 44px;
    }

    .btn-clear {
      width: 100%;
      max-width: 72px;
      background: black;
      border-radius: 8px;
    }

    .btn-submit {
      width: 100%;
      max-width: 126px;
      background: #ba92d9;
      border-radius: 8px;
      color: $color-white;
    }
  }

  h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #404040;
    padding-bottom: 36px;
  }

  .default-upload {
    // max-height: 384px;
    &__wrapper {
      padding: 64px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;

      text-align: center;

      color: #9b9b9b;
    }
  }

  h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #404040;
  }

  h2 {
    font-weight: 600;
    font-size: 29px;
    line-height: 35px;
    padding-bottom: 8px;
    text-align: center;
  }

  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 150%;

    text-align: center;

    color: $color-white;
  }

  .upload-content__show-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex {
    display: flex;
  }

  .justify-center {
    justify-content: center;
  }

  .items-center {
    align-items: center;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  @keyframes invisibled {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }

  .bg-white {
    background-color: $color-white;
  }

  .w-full {
    width: 100%;
  }

  .image-selected {
    border: 1px solid #ba92d9;
  }
}

.btn-disabled {
  cursor: initial;
  opacity: 0.5;
}

.pt-3 {
  padding-bottom: 12px;
}

.background-image {
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  background-position: center center;
  height: 350px;
}
